.container{width:100%;height:100%;margin:auto;}

/* MAKE ELEMENTS PROPER HEIGHTS */
#bigone{height:1220%;} /* heights of all unfixed elements should add to this */
#smallone{height:8.19%;} /* reciprocal of total heights (scales it to 100%) */
#pa-pocket{height:250%;}
#pb-pocket{height:400%;}
#title-pocket,div#pb-zoom,div#pb-borders-pocket{height:100%;}
#one,#two{height:50%;}
#three{height:90%;}
#wantmore-pocket{height:80%;}
/*Total: 410+410+100+100+100+50+50 = 1220
Reciprocal: 1000/1220 = 0.8196 : round down to make sure it's not possible to scroll out of the div */


/* WORDS */
#wantmore-pocket{position:relative;}
#wantmore{
  display:block;top:0;
  font-size:1.2em;
  width:85%;max-width:400px;
  margin:auto;padding:0.7em;
  z-index:3;
  background:rgba(220,220,220,0.9);
  border-radius:10px;
  position:absolute;
  left:50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);}
#wantmore a{text-decoration: underline;}
.text{
	display:block;bottom:0;
	width:85%;max-width:400px;
	position:absolute;
    left:50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);*/
}


/* PUZZLES */
#pa,#pb,#pb-borders{
	position:fixed;top:50%;left:50%;
	width:100%;height:100%;
	margin:auto;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#pa,#pb>div>svg>g>g.still,#pb>div>svg>g>g.animateme,#pb-borders{opacity:0;}
#pa,#pb>div>svg>g>g.still,#pb>div>svg>g>g.animateme,#pb-borders path{
    -webkit-transition:opacity 0.8s;
	-moz-transition:opacity 0.8s;
    -ms-transition:opacity 0.8s;
    -o-transition:opacity 0.8s;
	transition:opacity 0.8s;
}
svg{
	display: block;
	position:relative;
	width:100%;height:100%;margin:auto;
	-webkit-transition:top 0.3s;
	-moz-transition:top 0.3s;
    -ms-transition:top 0.3s;
    -o-transition:top 0.3s;
	transition:top 0.3s;
}
.shift{margin-top:31px;}
svg>g{
	display:block; transform:scale(1,1);
	position:absolute;top:0;left:0;
	margin:0;	
}
path{fill:#fff;stroke-width:1.6;}
#pb path{
	stroke-width:0.5;
	-webkit-transition:stroke-width 0.5s;
	-moz-transition:stroke-width 0.5s;
    -ms-transition:stroke-width 0.5s;
    -o-transition:stroke-width 0.5s;
	transition:stroke-width 0.5s;
}
#pb-borders path{fill: rgba(255,255,255,0);}
#lvl2{stroke-width:4;opacity:0;}
#lvl1{stroke-width:2.6;opacity:0;}
#lvl0{stroke-width:1.8;opacity:0;}


/* BANNER AND LINKS */
#title-pocket{width:100%;}
.title{display:inline-block;}
#slider{
	position:relative;width:350px;max-width:70%;margin:auto;
	font-size:2.5em;padding:1.3em 0em;
	background:rgba(220,220,220,0.8);border-radius:10px;
	font-variant:small-caps;z-index:3;
	-webkit-transition:height 0.3s,padding 0.3s,background 0.3s,width 0.3s, box-shadow 0.6s,opacity 0.3s;
	-moz-transition:height 0.3s,padding 0.3s,background 0.3s,width 0.3s, box-shadow 0.6s,opacity 0.3s;
    -ms-transition:height 0.3s,padding 0.3s,background 0.3s,width 0.3s, box-shadow 0.6s,opacity 0.3s;
    -o-transition:height 0.3s,padding 0.3s,background 0.3s,width 0.3s, box-shadow 0.6s,opacity 0.3s;
	transition:height 0.3s,padding 0.3s,background 0.3s,width 0.3s,opacity 0.3s;
}
#slider.disappear{width:100%;padding:0;font-size:0;opacity:0;}
#slider,#wantmore{
	-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
	-moz-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
	-ms-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
	-o-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
}


/* MAILCHIMP EMBED FORM */
#mc_embed_signup_scroll form{padding:0!important;font-family:Oxygen, sans-serif!important;}
.mc-field-group{width:100%!important;text-align:center!important;margin-top:1.5em!important;}
.mc-field-group input{display:block!important;height:40px!important;padding-left:0.5em;}
.mc-field-group .email{width:90%;max-width:340px!important;margin:auto!important;}
#mc-embedded-subscribe.button{
	font-variant: small-caps;
	clear:none!important;width:130px!important;height:45px!important;
	margin:0px 6px!important;font-size:1.2em;
	cursor:pointer;border:1px solid rgb(170,170,170,1);
	background:rgba(220,220,220,1);border-radius:5px;
	-webkit-transition:background 0.3s, color 0.3s;
    -moz-transition:background 0.3s, color 0.3s;
    -ms-transition:background 0.3s, color 0.3s;
    -o-transition:background 0.3s, color 0.3s;
    transition:background 0.3s;
}
#mc-embedded-subscribe.button:hover{background:rgba(170,170,170,1);color:#fff;}
#mc_embed_signup_scroll div.clear {margin-bottom:1em;}
#mce-responses,.response{float:none!important;top:0!important;margin:1em auto!important;}

.opa{opacity:1;}
.see{opacity:0;}

/* SMALL SCREENS */
@media only screen and (max-width:474px), screen and (max-height:399px){
	#slider{font-size:1.8em;}
}


