.home-select{font-weight:bolder;font-size:1.4em;}
@media only screen and (max-width:590px){.bignavlinks a.home-select{font-size:1.2em!important;}}
.image{margin:auto;text-align:center;padding:2em;}
#fourpieces{position:relative;width:600px;max-width:90%;}