<header>
  <div class='navbar-bars' style='display:none;'><i class='fa fa-bars fa-2x'></i> <span></span></div>
  <div class='name'><a href='{{outdirs}}'><img src='{{outdirs}}/images/tactalfractal-outline.png' title='TactalFractal' alt-text='TactalFractal'></a></div>
<p class='line'></p>
<!--Navbar for big screens -->
  <nav class='bignavlinks'>
  	  <a class='home-select' href='{{outdirs}}'>Home</a>
  	  <a class='about-select' href='{{outdirs}}/about'>About</a>
  	  <a class='play-select' href='{{outdirs}}/play'>Play</a>
  	  <a class='shop-select' href='https://www.etsy.com/shop/tactalfractal/'>Shop</a>
  </nav>

<!-- Alt navbar (slide down from bars, for small screens) -->
	<nav class='smallnavlinks' style='display:none;'>
	<ul>
	  <a class='home-select' href='{{outdirs}}'><li>Home</li></a>
	  <a class='about-select' href='{{outdirs}}/about'><li>About</li></a>
	  <a class='play-select' href='{{outdirs}}/play'><li>Play</li></a>
	  <a class='shop-select' href='https://www.etsy.com/shop/tactalfractal/'><li>Shop</li></a>
	</ul>
	</nav>
</header>
<!-- Overlay effect when opening topnav on small screens -->
<div class='overlay' title='close menu' id='overlaybkgrnd'></div>
