<head>
    <meta charset='utf-8'>
    <title>{{title}}</title>
	<meta name='keywords' content='tactalfractal, tactile, fractal, puzzle, jigsaw, games, math, kids, meta'/>
	<link rel='icon' href='../images/favicon-32x32.png'>
	<link rel='canonical' href=''>
	<meta id='viewport' name='viewport' content='width=device-width, initial-scale=1'/>
	<!-- STYLES -->
	<link rel='stylesheet' type='text/css' href='../css/general_style.css'/>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oxygen'/>
	<link rel='stylesheet' type='text/css' href='../css/font-awesome.min.css'/>
	<!-- page-specific stylesheets -->
	<link rel='stylesheet' type='text/css' href='../css/{{pageid}}.css'/>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	
</head>

	<!--////////////////////////////////////////////////////////////////// -->