<!DOCTYPE html>
<html>
	{{>pagehead}}
	<body>

<!-- JS DISABLED VERSION -->
<div class="" id="nojs">
	<div class="spacer"></div>
	<img src="../images/level0.png">
	<!--<p>^ Level 0 puzzle ^</p>
	<p>Check out the shop for the fully tactile experience!</p>-->
	<img src="../images/level1.png">
	<!--<p>^ Level 1 puzzle ^</p>
	<p>FYI, this site is more fun with javascript enabled. We promise no annoying popups, paywalls, etc.</p>-->
	<img src="../images/level2.png">
	<!--<p>^ Level 2 puzzle ^</p>
	<p>Visit the Play page to continue zooming virtually.</p>-->
	<div class="footer"></div>
</div>

<!-- LEVEL ONE PUZZLE -->
<div class="textpocket">
	<div id="instructions">Scroll to solve</div>
</div>
<div id="holder0"></div>
<div class="container scrollme" id="pa">
	<div id="puzzle-a">
	</div>
</div>

<!-- TITLE BANNER WITH LINKS -->
<div id="holder1" class="scrollme"></div>
<div id="titlepocket" class="scrollme">

	<div id="slider" class="disappear"><span class='title'>TactalFractal</span></div>

	<div id="banner">
		<span class='link'><a href='./play'>play</a></span>
		<span class='title'>TactalFractal</span>
		<span class='link'><a href='http://tactalfractal.etsy.com'>shop</a></span>
	</div>

</div>

<!-- LEVEL TWO PUZZLE -->
<div class="container scrollme" id="pb">
	<div id="puzzle-b">
	</div>
	<div id="puzzle-b-solved">
	</div>
</div>

<!-- END NOTES -->
<div id="holder2"></div>
<div id="holder3"></div>
<div class="textpocket">
	<div id="wantmore">
	Want more? Visit the <a href='http://tactalfractal.etsy.com'>SHOP</a> to buy a puzzle, or check out the <a href='./play'>PLAY</a> page for more games.
	</div>
</div>
	{{>endscripts}}

	</body>
</html>
