<!DOCTYPE html>
<html>
	{{>pagehead}}
	<body>

<!-- JS DISABLED VERSION -->
<div id="nojs">
	<div class="spacer"></div>
	<img class="unsolved" src="{{outdirs}}/images/puzzaapart.png">
	<img src="{{outdirs}}/images/puzzasolved.png">
	<img class="unsolved" src="{{outdirs}}/images/puzzbapart.png">
	<img src="{{outdirs}}/images/puzzbsolved.png">
</div>

<div class="scrollme" id="bigone">
	<div id="smallone">
		<!-- INSTRUCTIONS -->
		<div class="textpocket">
			<div id="instructions"><i class="fa fa-arrow-down" aria-hidden="true"></i><b>Scroll down</b><i class="fa fa-arrow-down" aria-hidden="true"></i><br>or <a href="#wantmore">click to skip</a></div>
		</div>

		<!-- LEVEL ONE PUZZLE -->
		<div class="container" id="pa">
			<div id="puzzle-a">
			</div>
		</div>

		<!-- TITLE BANNER WITH LINKS -->
		<div id="titlepocket">
			<div id="slider" class="disappear"><span class='title'>TactalFractal</span></div>
			<div id="banner">
				<span class='link'><a href='{{outdirs}}/play'>play</a></span>
				<span class='title'>TactalFractal</span>
				<span class='link'><a href='http://tactalfractal.etsy.com'>shop</a></span>
			</div>
		</div>

		<!-- LEVEL TWO PUZZLE -->
		<!-- zoomout -->
		<div class="container" id="pb-zoom"></div>
		<!-- solve -->
		<div class="container" id="pb">
			<div id="puzzle-b">
				<div class="container" style="transform:scale(4);">
				</div>
			</div>
		</div>
		<!--borders -->
		<div class="container" id="pb-borders">
			<div id="puzzle-b-borders">
			</div>
		</div>

		<!-- END NOTES -->
		<div class="textpocket">
			<div id="wantmore">
			Want more? Visit the <a href='http://tactalfractal.etsy.com'>SHOP</a> to buy a puzzle, or check out the <a href='{{outdirs}}/play'>PLAY</a> page for more games.
			</div>
		</div>
	</div>
</div>
	{{>endscripts}}

	</body>
</html>
