<!DOCTYPE html>
<html>
	{{>pagehead}}
	<body>

<!-- JS DISABLED VERSION -->
<div id="nojs">
	<div class="spacer"></div>
	<img class="unsolved" src="../images/puzzaapart.png">
	<img src="../images/puzzasolved.png">
	<img class="unsolved" src="../images/puzzbapart.png">
	<img src="../images/puzzbsolved.png">
</div>

<div class="scrollme" id="bigone">
	<div id="smallone">
		<!-- LEVEL ONE PUZZLE -->
		<div class="textpocket">
			<div id="instructions">Scroll to solve<br>or <a href="#wantmore">click to skip</a></div>
		</div>
		<!--<div id="holder0"></div>-->
		<div class="container" id="pa">
			<div id="puzzle-a">
			</div>
		</div>

		<!-- TITLE BANNER WITH LINKS -->
		<div id="titlepocket">
			<div id="slider" class="disappear"><span class='title'>TactalFractal</span></div>
			<div id="banner">
				<span class='link'><a href='./play'>play</a></span>
				<span class='title'>TactalFractal</span>
				<span class='link'><a href='http://tactalfractal.etsy.com'>shop</a></span>
			</div>
		</div>

		<!-- LEVEL TWO PUZZLE -->
		<div class="container" id="pb">
			<div id="puzzle-b">
				<div class="container" style="transform:scale(4);">
				</div>
			</div>
		</div>

		<!-- END NOTES -->
		<div class="textpocket">
			<div id="wantmore">
			Want more? Visit the <a href='http://tactalfractal.etsy.com'>SHOP</a> to buy a puzzle, or check out the <a href='./play'>PLAY</a> page for more games.
			</div>
		</div>
	</div>
</div>
	{{>endscripts}}

	</body>
</html>
