<!DOCTYPE html>
<html>
  <head>
	<meta charset='utf-8'>
    <title>TactalFractal</title>
	<meta name='keywords' content='tactalfractal, tactile, fractal, puzzle, jigsaw, games, math, kids, meta'/>
	<link rel='icon' href='../images/favicon-32x32.png'>
	<link rel='canonical' href=''>
	<meta id='viewport' name='viewport' content='width=device-width, initial-scale=1'/>
	<!-- STYLES -->
	<link rel='stylesheet' type='text/css' href='../css/general_style.css'/>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oxygen'/>
	<link rel='stylesheet' type='text/css' href='../css/font-awesome.min.css'/>
	<!-- page-specific stylesheets -->
	<link rel='stylesheet' type='text/css' href='../css/Home.css'/>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- SCRIPTS -->
	<script type='text/javascript' src='../js/jquery-3.1.1.min.js'></script>
	<script type='text/javascript' src='../js/general_fxns.js'></script>
	<!-- page-specific scripts -->
</head>
	<!--////////////////////////////////////////////////////////////////// -->

<body>
<!--<div id='bigbanner' style="background: url('../images/varda2.jpg') 50% 50% no-repeat;"></div>-->
		{{>pageheader}}
		<div class="page-content">
		<div class="wrapper">
		<div class='image'>
			<img id='fourpieces' src='../images/biglines-color.png'>
		</div>
		    {{{ contents }}}
		</div>
		</div>
		{{>footer}}
	</body>
</html>