html,body,.container{width:100%;height:100%;margin:auto;}

/* NO JS VERSION */
#nojs div.spacer{height:61px;}
/*#nojs div.footer{height:61px;width:100%;background:rgba(220,220,220,0.8);}*/
#nojs img{
	width:500px;max-width:80%;
	padding:1em;margin:auto;
}
#nojs img.unsolved{
	width:900px;max-width:100%;
}


/* WORDS */
#wantmore{top:0;}
#instructions{bottom:0;}
#instructions a,#wantmore a{text-decoration: underline;}
#instructions i {padding:0 0.6em;}
#instructions, #wantmore{
	opacity:1;
	display:none;font-size:1.2em;
	width:85%;max-width:400px;
	margin:auto;padding:0.7em;
	z-index:3;
	position:absolute;
	background:rgba(220,220,220,0.9);
	border-radius:10px;
	left:50%;
	-webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}


/* PUZZLES */
.textpocket{position:relative;}
#bigone,#smallone,#titlepocket,#pa,#pb,#puzzle-a,#puzzle-b,#puzzle-b-border{height:0;}
#puzzle-a,#puzzle-b,#puzzle-b-border{
	position:fixed;top:50%;left:50%;
	width:100%;
	margin:auto;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#puzzle-a,#puzzle-b>div>svg>g>g.still,#puzzle-b>div>svg>g>g.animateme{opacity:0;}
#puzzle-a,#puzzle-b>div>svg>g>g.still,#puzzle-b>div>svg>g>g.animateme,#puzzle-b-border path{
    -webkit-transition:opacity 0.8s;
	-moz-transition:opacity 0.8s;
    -ms-transition:opacity 0.8s;
    -o-transition:opacity 0.8s;
	transition:opacity 0.8s;
}
svg{
	display: block;
	position:relative;
	width:100%;height:100%;margin:auto;
	-webkit-transition:top 0.3s;
	-moz-transition:top 0.3s;
    -ms-transition:top 0.3s;
    -o-transition:top 0.3s;
	transition:top 0.3s;
}
.shift{margin-top:31px;}
svg>g{
	display:block; transform:scale(1,1);
	position:absolute;top:0;left:0;
	margin:0;	
}

path{fill:#fff;stroke-width:1.6;}
#pb path{
	stroke-width:0.5;
	-webkit-transition:stroke-width 0.5s;
	-moz-transition:stroke-width 0.5s;
    -ms-transition:stroke-width 0.5s;
    -o-transition:stroke-width 0.5s;
	transition:stroke-width 0.5s;
}
#puzzle-b-border path{fill: rgba(255,255,255,0);}
#lvl2{stroke-width:4;opacity:0;}
#lvl1{stroke-width:2.6;opacity:0;}
#lvl0{stroke-width:1.8;opacity:0;}


/* puzzle piece colors */
/*#pa .j,#pb .a path,#pb .c path,#pb .e path,#pb .g path,#pb .h path,#pb .j path,#pb .l path,#pb .n path,#pb .p path, #pb .q path,#pb .r path,#pb .t path,#pb .u path{
	fill:rgb(215,215,215);
}
#pb .b path,#pb .d path,#pb .f path,#pb .i path,#pb .k path,#pb .m, path,#pb .o path,#pb .s path, #pb .v path{
	fill:rgb(245,245,245);
}*/


/* BANNER AND LINKS */
#titlepocket{width:100%;}
#banner{
	position:fixed;top:0;left:0;
	width:100%;margin:auto;
	font-size:2em;padding:0.3em 0;opacity:1;
	background:rgba(220,220,220,1);
	-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
	-moz-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
	-ms-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
	-o-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
}
.title{
	display:inline-block;
	/*background:rgba(220,220,220,1);
	padding:0;
	box-shadow: 0px 0px 16px 0px rgba(220,220,220,0.8);*/
}
#banner .link a{
	display:inline-block;
	font-size:0.7em;margin:0 2.8em;
	padding:0.1em 0.5em 0.2em 0.5em;border-radius:5px;
	-webkit-transition:background 0.3s, color 0.3s;
	-moz-transition:background 0.3s, color 0.3s;
    -ms-transition:background 0.3s, color 0.3s;
    -o-transition:background 0.3s, color 0.3s;
	transition:background 0.3s;
}
#banner .link a:hover{color:#fff;background: rgba(170,170,170,1);}
#slider{
	position:relative;width:350px;max-width:70%;margin:auto;
	font-size:2.5em;padding:1.3em 0em;
	background:rgba(220,220,220,0.8);border-radius:10px;
	-webkit-transition:height 0.3s;
	-moz-transition:height 0.3s;
    -ms-transition:height 0.3s;
    -o-transition:height 0.3s;
	transition:height 0.3s;;
}
#banner,#slider{
	font-variant:small-caps;z-index:3;
	-webkit-transition:padding 0.3s,background 0.3s,width 0.3s, box-shadow 0.6s,opacity 0.3s;
	-moz-transition:padding 0.3s,background 0.3s,width 0.3s, box-shadow 0.6s,opacity 0.3s;
    -ms-transition:padding 0.3s,background 0.3s,width 0.3s, box-shadow 0.6s,opacity 0.3s;
    -o-transition:padding 0.3s,background 0.3s,width 0.3s, box-shadow 0.6s,opacity 0.3s;
	transition:padding 0.3s,background 0.3s,width 0.3s,opacity 0.3s;
}
#banner.disappear,#slider.disappear{width:100%;padding:0;font-size:0;opacity:0;}

#slider,#instructions,#wantmore{
	-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
	-moz-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
	-ms-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
	-o-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 4px 4px 0 rgba(0,0,0,0.12);
}

/* SMALL SCREENS */
@media only screen and (max-width:599px), screen and (max-height:499px){
	#banner .link a{margin:0.1em 1.7em;padding:0.1em 0.2em 0.2em 0.2em;}
}
@media only screen and (max-width:474px), screen and (max-height:399px){
	#banner .link a{margin:0.1em 0.4em;padding:0.1em;}
	#slider{font-size:1.8em;}
}
@media only screen and (max-width:349px){
	#banner .link a{margin:0.5em;padding:0.1em;}
	#banner .title{display:none;}
}

